/*-----------------------------------*\
    #style.css
\*-----------------------------------*/

/*-----------------------------------*\
    #CUSTOM PROERTY
\*-----------------------------------*/

:root{
    --header-height: 3.5rem;

    /* =============== Colors =============== */
    --white-color: rgb(255, 255, 255);
    --text-color:rgb(226, 226, 226);
    --light-gray: rgb(185, 185, 185);
    --light-gray2: rgb(108, 109, 109);
    --dark-gray: rgb(55, 55, 55);
    --blue-color: rgb(79, 87, 144);
    --body-color: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(48, 56, 118) 100%);
    --container-color: linear-gradient(to bottom right, rgb(171, 171, 171) 0%, rgb(79, 87, 144) 100%) no-repeat;
    --type-color: linear-gradient(90deg, rgb(48, 48, 48, 0.6) 0%, rgb(105, 108, 130, 0.6) 100%);


    /* =============== Font and typography =============== */
    --body-font:  "Noto Sans TC", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.24rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* =============== Font weight =============== */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    /* =============== Margenes Bottom =============== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* =============== z index =============== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =============== Responsive typography =============== */
@media screen and (min-width: 992px){
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* ============== BASE ============== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth; /* 捲動效果 */
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
}

h1,h2,h3,h4 {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    bottom: 0;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/* =============== REUSABLE CSS CLASSES =============== */
.section {
    padding: 4.5rem 0 2rem; /* 讓上面多留一點空間，往下滑的時候每個區塊中間是4.5tem+2rem 最下面是2rem 不會空太多 */
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}

/* =============== LAYOUT =============== */
.container {
    max-width: 968px; /* 只要螢幕小於 968px，你就長得跟螢幕一樣寬。 */
    /* margin-inline: var(--mb-1-5);  */
    margin-inline: var(--mb-1-5); 
}

.grid {
    display: grid;
}

main {
    overflow: hidden; /* 當製作動畫時有些超過邊界的東西會被隱藏 */
}

/* =============== HEADER =============== */
.header {
    width: 100%; /* 因為沒設定高度所以還不會顯示區域 */
    background: var(--container-color); /* background-color不吃漸層 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* =============== NAV =============== */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    font-weight: var(--font-medium);
    align-items: center;
    column-gap: .5rem;
}

.nav__logo-img {
    width: 2.5rem;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__logo,
.nav__link,
.nav__toggle,
.nav__close {
    color: var(--white-color);
}

/* 在平板以下的狀態下 nav__manu開啟後的顯示樣式設定 */
@media (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -100%;
        left: 0; /* 讓左上角貼齊 */
        padding: 3.5rem 0 3rem;
        transition: .4s; /* 打開時的動畫 */
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.nav__close {
    font-size: 1.23rem;
    position: absolute;
    top: 0.8rem;
    right: 1.55rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    font-weight: var(--font-black);
}

.nav__link {
    /* display: block; */
    text-transform: uppercase;
    transform: scale(1.5rem);
    transition: .4s; /* link上的動畫 */
}

.nav__link:hover {
    font-size: var(--h2-font-size);
}

.button {
    color: var(--white-color);
}

/* Show menu */
.show-menu {
    top: 0;
}

/* 每次點擊選單旁邊都會出現的小圓點 */
.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.45rem;
    left: 45%;
    /* 設定圓點的大小跟顏色 */
    width: 5px;
    height: 5px;
    background-color: var(--white-color);
    border-radius: 50%;
}




/* =============== HOME =============== */
/* .home__content {
    row-gap: 1rem;
} */

.home__group {
    position: relative;
    padding-top: 2rem;
}

.home__img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    justify-self: center;
    filter: brightness(0.9);
}

.home__details-img {
    position: absolute;
    top: 3rem;
    right: .5rem;
}

.home__details-title,
.home__details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home__details-subtitle {
    color: var(--text-color);
}

.home__data{
    padding: 10px;
}

.home__title {
    font-size: 48px;
}

.home__subtitle {
    font-size: 36px;
}

/* Swiper Class */
.swiper-pagination {
    position: initial; /* 還原預設 */
    margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--white-color) ;
    opacity: 1;
    display: inline-block;
}

.swiper-pagination-horizontal .swiper-pagination-bullet{
    margin: 0.5rem;
    /* 當 pagination 是橫向時，裡面的每顆點點加間距 */
}

.swiper-pagination-bullet-active{
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}


/* =============== PORTFOLIO =============== */
.portfolio__container {
    /* max-width: 280px; 會限制整個欄位的寬度 */
    padding: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px, 280px));
    /* 我要把容器切成幾欄？每欄多寬？ */
    gap: 1.5rem;
}

.portfolio__content {
    background: var(--container-color);
    border-radius: 1rem;
    padding: 0 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

.portfolio__img {
    width: 100%;
    height: 180px;
    transition: .3s;
}

.portfolio__title {
    margin-top: var(--mb-0-5);
}

.portfolio__subtitle {
    color: var(--text-color);
    display: block;
    font-size: var(--small-font-size);
}

a.portfolio__button{
    display: inline-block;
    color: var(--light-gray); 
}

a.portfolio__button:hover {
    transform: scale(1.2);
    color: var(--white-color);
}

.portfolio__content:hover .portfolio__img {
    transform: scale(1.1);
}

.portfolio__content:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}


/* =============== SKILLS =============== */

.skills-item {
    padding: var(--mb-0-25);
}

.skills-item .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-block-end: 10px;
}

.skills-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.progress-box {
    width: 100%;
    height: 10px;
    background-color: var(--light-gray2);
}

.progress {
    height: 10px;
    background-color: var(--blue-color);
}


/* =============== CONTACT =============== */
.contact__text {
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-block-end: var(--mb-0-5);
}

.contact__text span {
    display: block;    
    color: red;
}

.contact-list {
    color: var(--text-color);
}

.contact-item {
    margin-block-end: var(--mb-0-75);
    display: flex;
    align-items: center;
}

.contact__link {
    display: inline-block;
    font-style: normal;
    color: var(--text-color);
}

.contact-icon {
    margin-inline-end: var(--mb-0-5);
    font-size: var(--h3-font-size);
}

.contact__form {
    background: var(--type-color);
    border-radius: 1rem;
    padding-inline: var(--mb-1);
    padding-block: var(--mb-0-75);
}

.contact__input {
    width: 100%;
    align-items: center;
    font-size: var(--h3-font-size);
    background-color: transparent;
    margin-block-end: var(--mb-0-5);
    padding: 25px;
    border-radius: 1rem;
    color: var(--white-color);
}

.contact__input:focus {
    outline: none; /* 被選取到時會有藍色外框線 */
    background: transparent;
    color: var(--white-color);
    box-shadow: 
    -10px 0 15px var(--blue-color),
    10px 0 15px var(--white-color);
}

textarea {
    border: 1px solid var(--light-gray);
    width: 100%;
    height: 100px;
}

.submit_btn {
    background-color: var(--blue-color);
    border-radius: 1rem;
    font-size: var(--h2-font-size);
    color: white;
    display: block;
    margin: 0 auto ;
    padding: var(--mb-0-75) var(--mb-1-5);
}

.submit_btn:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
}

.form__warning {
    color: red;
    margin-block-start: var(--mb-0-5);
    display: none;
}

/* =============== FOOTER =============== */
.footer__copy {
    display: flex;
    justify-content: center;
    color: var(--white-color);
}




@media (min-width: 320px){
    .container {
        margin-inline: var(--mb-1);
    }

/* =============== HOME =============== */
    .home__img {
        height: 200px;
    }

/* =============== PORTFOLIO =============== */
    .portfolio__container {
        justify-content: center;
        grid-template-columns: repeat(auto-fit,minmax(200px, 280px));
        /* 我要把容器切成幾欄？每欄多寬？ */
        gap: 1.5rem;
        }

}


@media (min-width: 430px) {
    .container {
        margin-inline: var(--mb-1-5);
    }

/* =============== HOME =============== */
    .home__img {
        height: 250px;
    }

/* =============== PORTFOLIO =============== */
.portfolio__container {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
    /* 我要把容器切成幾欄？每欄多寬？ */
    gap: 1.5rem;
    }
}




@media (min-width: 767px){
    .container {
        margin-inline: var(--mb-1-5);
    }

/* =============== HOME =============== */
    .home__content {
    display: grid;
    }
    /* grid-area: row-start / column-start / row-end / column-end; */
    .home__group,
    .home__data {
        grid-area: 1 / 1;
    }

    .home__img {
        width: 100%;
        height: 550px;
    }
    
    /* =============== NAV =============== */
        .nav {
            height: calc(var(--header-height) + 1.5rem);
        }
    
        .nav__close,
        .nav__toggle {
            display: none;
        }
    
        .nav__list {
            /* 讓原本的flex橫排呈現 */
            flex-direction: row;
            column-gap: 1.5rem;
        }
    
        .nav__link {
            text-transform: initial; /* 原本是大寫 */
            font-weight: initial;
        }

    .home__data {
        z-index: var(--z-fixed);
        width: 300px;
        height: 200px;
        padding: 25px 20px;
        background: var(--type-color) ;
        border: 1px solid var(--light-gray);
        border-radius: 16px;
        /* transform: translate(X 水平, Y 垂直); */
        transform: translate(45px, 330px);
        backdrop-filter: blur(2px); /* 毛玻璃關鍵 */
        -webkit-backdrop-filter: blur(2px); /* Safari 支援 */
        /* 陰影（浮起來） */
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    }

}


@media (min-width: 1010px){
    .container {
        max-width: 1170px;
        width: calc(100% - 3rem);
        margin-inline: auto;
    }


/* =============== HOME =============== */
    .home__img {
        height: 80vh;
    }

}